<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="center"> {{ title }} </h1>
      <h2> {{subtitle}} </h2>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        Number 1:
        <input type="number" name="number1" [(ngModel)]="number1">
      </div>

      <div class="col d-flex justify-content-center align-items-center">
        <select type="select">
          <option value="0" selected>+</option>
          <option value="1">-</option>
          <option value="2">*</option>
          <option value="3">/</option>
        </select>
      </div>

      <div class="col d-flex justify-content-center align-items-center">
        Number 2:
        <input type="number" name="number2" [(ngModel)]="number2">
      </div>
    </div>

    <div class="row">
      <div class="col mt-3 d-flex justify-content-center">
        <input type="submit" value="Calcular">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col mt-3 d-flex justify-content-center">
      Resultado: {{answer}}
    </div>
  </div>

</div>